
.header-image-home {
  position: relative;
  background-image: url(../../../public/homepage-header-image.jpg);
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}

