.header-image-hypnotherapy {
  background-image: url(../../../public/hypnotherapy-header-image.jpg);
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
