.header-image-contact {
  background-image: url(../../../public/hypnotherapy-header-image.jpg);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
