.app {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-size: 48px;
  margin: 10px 0;
  filter: drop-shadow(5px 5px 10px #000000);
}

h2 {
  color: #fff;
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  /* font-style: italic; */
  font-size: 36px;
  margin: 0;
  filter: drop-shadow(5px 5px 10px #000000);
}

.header-smaller-text {
  color: #fff;
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  /* font-style: italic; */
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  filter: drop-shadow(5px 5px 10px #000000);
}

p {
  text-align: left;
  line-height: 30px;
  margin-bottom: 20px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.header-text-italic {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;;
}

.app-header {
  position: relative;
  height: 88px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 120px 0 162px;
  color: white;
  z-index: 1000;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 8px;
}

.app-link {
  color: #61dafb;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  padding: 20px 100px 0 100px;
}

/* .content-container img {
  border-radius: 12px;
} */

.content-main {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}

.content-main-left,
.content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 50%;
}

.content-main-left {
  padding: 10px;
  margin-right: 30px;
}

.sub-header-text {
  color: #6A6A6A;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (width <= 980px) {
  .content-container {
    width: 100%;
    padding: 0;
  }
  .app-header {
    padding: 0 40px 0 90px;
  }
}

@media (width <= 760px) {
  h1 {
    font-size: 36px;
  }
  .app-header {
    padding: 0 40px;
  }
  .content-main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .content-main-left,
  .content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 100%;
}
}

