.app {
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-size: 50px;
  filter: drop-shadow(5px 5px 10px #000000);
}

h2 {
  color: #6A6A6A;
  font-size: 32px;
}

p {
  text-align: left;
  line-height: 32px;
  margin: 0;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.header-text-italic {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;;
}

.app-header {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 8px;
}

.app-link {
  color: #61dafb;
}

.content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;;
}

.content-main {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}

.content-main-left,
.content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 50%;
}

.content-main-left {
  padding: 10px;
  margin-right: 30px;
}

.sub-header-text {
  color: #6A6A6A;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (width <= 760px) {
  h1 {
    font-size: 40px;
  }
  .content-main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  .content-main-left,
  .content-main-right {
  padding: 10px;
  margin: 0 20px 0 40px;
  width: 100%;
}
}

